// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-image img {
  height: 500px;
  display: block;
  margin: 5% auto;
}
